## One Hot Encoding 
One Hot Encoding is used to convert categorical variables into continuous variables. The main motive to convert categorical variables into continuous variables is to increase the accuracy of the model as using categorical varibales as an input to a model wont make much difference so to improve accuracy one hot encoding is performed.

In [7]:
import pandas as pd
import seaborn as sns

In [14]:
df = sns.load_dataset('exercise')

In [18]:
df.head()

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest
2           2   1  low fat     88  30 min  rest
3           3   2  low fat     90   1 min  rest
4           4   2  low fat     92  15 min  rest

In [19]:
# Always make sure to drop the first column of the dummy variables created. Dummy variable can be created using both pandas and sklearn.
df_dummies_diet=pd.get_dummies(df['diet'],drop_first=True)

In [20]:
pd.concat([df,df_dummies_diet],axis=1).head()

   Unnamed: 0  id     diet  pulse    time  kind  low fat
0           0   1  low fat     85   1 min  rest        1
1           1   1  low fat     85  15 min  rest        1
2           2   1  low fat     88  30 min  rest        1
3           3   2  low fat     90   1 min  rest        1
4           4   2  low fat     92  15 min  rest        1